﻿@model  HamburSisMVC.Models.UsuarioModel
@{
    ViewBag.Title = "EditUser";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Resource.Resource.UUser</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.userName)

        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.userName)
            @Html.ValidationMessageFor(model => model.userName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.tipo)

        </div>
        <div class="editor-field">
           
            @Html.DropDownListFor(model => model.tipo, (IEnumerable<SelectListItem>)ViewBag.ListaCategorias, "--Elejir Categoría--")

        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.password)

        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.persona.nombre)

        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.persona.nombre)
            @Html.ValidationMessageFor(model => model.persona.nombre)

        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.persona.primerAp)

        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.persona.primerAp)
            @Html.ValidationMessageFor(model => model.persona.primerAp)

        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.persona.segundoAp)

        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.persona.segundoAp)
            @Html.ValidationMessageFor(model => model.persona.segundoAp)

        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.persona.fechaNac)

        </div>
        <div class="editor-field">

            @Html.EditorFor(model => model.persona.fechaNac)

        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.persona.direccion)

        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.persona.direccion)
            @Html.ValidationMessageFor(model => model.persona.direccion)

        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.persona.ci)

        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.persona.ci)
            @Html.ValidationMessageFor(model => model.persona.ci)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.persona.genero)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.persona.genero, (IEnumerable<SelectListItem>)ViewBag.ListaGenero, "--Elejir Genero--")

        </div>
        <div class="editor-label">
            Telefonos del usuario <br />
            <table>
                <thead>
                    <tr>
                        <td>Numero</td>
                    </tr>
                </thead>
                <tbody>

                    @foreach (HamburSisMVC.Models.TelefonoModel item in ViewBag.Numeros)
                    {
                        <tr>
                            <td>@item.numero</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

        <p>
            <input type="submit" value=@Resource.Resource.Up />
        </p>
    </fieldset>
}

