﻿@model IEnumerable<HamburSisMVC.Models.UsuarioModel> 
@{
    ViewBag.Title = "ListUser";
}

<h2>@Resource.Resource.List</h2>
<p>
    @Html.ActionLink(Resource.Resource.New, "../Usuario/NewUser")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idUsuario)<!--  pone de titulo el que tiene el modelo es esa propiedad -->
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
          @Resource.Resource.Delete
        </th>
        <th>
           @Resource.Resource.Update
        </th>

    </tr>

    @foreach (var item in Model)//for del modelo que le llega
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idUsuario)<!--   recuera el dato del modelo -->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
       
            <td>
                @Html.ActionLink(Resource.Resource.Delete, "../Usuario/Delete", new { id = item.idUsuario })<!-- llama a otro metodo del controlador el new es el parametro, se pone nombreparameto=dato; el nombre debe ser el mismo que de el parametro del metodo -->
            </td>
            <td>
                @Html.ActionLink(Resource.Resource.Update, "../Usuario/EditUser", new { id = item.idUsuario })
            </td>

        </tr>
    }

</table>