﻿@model  HamburSisMVC.Models.UsuarioModel
@{
	ViewBag.Title = "LogIn";
}
@section Scripts
{
	<script src='https://www.google.com/recaptcha/api.js'></script>
}
<html>
<body >
    

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="container" style="background-color: blue">
            <div class="row">


                <h2>Log In</h2>


                <div class="editor-label">
                    @Html.LabelFor(model => model.userName)<!--  crea un label con el nombre de la prop-->
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.userName)<!--  crea el campo relacionado al modelo asi este ya esta vinculado -->

                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.password)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(model => model.password)
                </div>
                <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="6LdpL30UAAAAAO9H983vhUtpFmiLdxCzWluf6mMV"></div>
                </div>
                @ViewBag.Mensaje

                <p>
                    <button >@Html.ActionLink("Registrar", "Registrar", "LogIn")</button><!--  llama al post, recupera solo el modelo-->
                    <input type="submit" value="LogIn" class="btn-success" /><!--  llama al post, recupera solo el modelo-->
                </p>
            </div>
        </div>

    }
</body>
</html>


