﻿@model  HamburSisMVC.Models.UsuarioModel
@{
	ViewBag.Title = "Registrar";
}
@using (Html.BeginForm())
{
	@Html.ValidationSummary(true)

<fieldset>
	<legend>@Resource.Resource.NewUs</legend>
	<div class="editor-label">
		@Html.LabelFor(model => model.userName)<!--  crea un label con el nombre de la prop-->
	</div>
	<div class="editor-field">
		@Html.EditorFor(model => model.userName)<!--  crea el campo relacionado al modelo asi este ya esta vinculado -->
	<div class="editor-label">
		@Html.LabelFor(model => model.password)
	</div>
	<div class="editor-field">
		@Html.EditorFor(model => model.password)
	</div>
	<div class="editor-label">
		@Html.LabelFor(model => model.repeatPassword)
	</div>
	<div class="editor-field">
		@Html.EditorFor(model => model.repeatPassword)

	</div>
	<div class="editor-label">
		@Html.LabelFor(model => model.persona.nombre)
	</div>
	<div class="editor-field">
		@Html.EditorFor(model => model.persona.nombre)
	</div>
	<div class="editor-label">
		@Html.LabelFor(model => model.persona.primerAp)
	</div>
	<div class="editor-field">
		@Html.EditorFor(model => model.persona.primerAp)
	</div>
	<div class="editor-label">
		@Html.LabelFor(model => model.persona.segundoAp)
	</div>
	<div class="editor-field">
		@Html.EditorFor(model => model.persona.segundoAp)
	</div>
	<div class="editor-label">
		@Html.LabelFor(model => model.persona.fechaNac)
	</div>
	<div class="editor-field">
		@Html.EditorFor(model => model.persona.fechaNac)
	</div>
	<div class="editor-label">
		@Html.LabelFor(model => model.persona.direccion)
	</div>
	<div class="editor-field">
		@Html.EditorFor(model => model.persona.direccion)
	</div>
	<div class="editor-label">
		@Html.LabelFor(model => model.persona.ci)
	</div>
	<div class="editor-field">
		@Html.EditorFor(model => model.persona.ci)
	</div>
	<div class="editor-label">
		@Html.LabelFor(model => model.persona.genero)
	</div>
	<div class="editor-field">

		@Html.DropDownListFor(model => model.persona.genero, (IEnumerable<SelectListItem>)ViewBag.ListaGenero, "--Elejir Genero--")
	</div>
	<div class="editor-label">
		@Html.LabelFor(model => model.tel.numero)
	</div>
	<div class="editor-field">
		@Html.EditorFor(model => model.tel.numero)
	</div>
	<p>
		<button>@Html.ActionLink("Log In", "LogIn", "LogIn")</button><!--  llama al post, recupera solo el modelo-->
		<input type="submit" value="Registrar" /><!--  llama al post, recupera solo el modelo-->
	</p>
</fieldset>
}
