﻿@model IEnumerable<HamburSisMVC.Models.OrdenModel>
@{
    ViewBag.Title = "List orden";
}
<h2>@Resource.Resource.ListOr</h2>
<p>
    @Html.ActionLink(Resource.Resource.New, "../Orden/NuevaOrden")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idOrden)<!--  pone de titulo el que tiene el modelo es esa propiedad -->
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaPedido)
        </th>
        <th>
            @Resource.Resource.Delete
        </th>
       
    </tr>
    @foreach (var item in Model)//for del modelo que le llega
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idOrden)<!--   recuera el dato del modelo -->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaPedido)
            </td>

            <td>
                @Html.ActionLink(Resource.Resource.CanO, "../Orden/Delete", new { id = item.idOrden })<!-- llama a otro metodo del controlador el new es el parametro, se pone nombreparameto=dato; el nombre debe ser el mismo que de el parametro del metodo -->
            </td>
         
        </tr>
    }
    <p>
        @Html.ActionLink(Resource.Resource.TakeO, "../Recibo/NuevoRecibo")
    </p>
</table>
