﻿@model  HamburSisMVC.Models.OrdenModel
@{
    ViewBag.Title = "NuevaOrden";
}
<h2>@Resource.Resource.NewOr</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(model => model.idMesa)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.idMesa, (IEnumerable<SelectListItem>)ViewBag.ListaMesa, "--Elejir Mesa--")
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.respaldo)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.respaldo.idProducto, (IEnumerable<SelectListItem>)ViewBag.ListaProdu, "--Elejir Producto--")
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.respaldo.cantidad)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.respaldo.cantidad)        </div>
        <div class="editor-label">
            @Resource.Resource.PrOr <br />
            <table>
                <thead>
                    <tr>
                        <td>@Resource.Resource.Produ</td>
                   
                        <td>@Resource.Resource.Cant</td>
                    </tr>
                </thead>
                <tbody>

                    @foreach (HamburSisMVC.Models.OrdenProductoModel item in ViewBag.ordenes)
                    {
                        <tr>
                            <td>@item.nombre</td>
                       
                            <td>@item.cantidad</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <p>
            <input type="submit" value=@Resource.Resource.New /><!--  llama al post, recupera solo el modelo-->
        </p>
    </fieldset>
}
