﻿@model  HamburSisMVC.Models.ReciboModel
@{
    ViewBag.Title = "NewRecibp";
}
<h2>@Resources.Resource.Receipt</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Resource.Resource.NewTa</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.nit)<!--  crea un label con el nombre de la prop-->
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nit)<!--  crea el campo relacionado al modelo asi este ya esta vinculado -->
            @Html.ValidationMessageFor(model => model.nit)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombre)
            @Html.ValidationMessageFor(model => model.nombre)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.respaldo)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.respaldo.idOrden, (IEnumerable<SelectListItem>)ViewBag.Ordenes, "--Terminar--")
        </div>
        <div class="editor-label">
            >@Resources.Resource.ListOr <br />
            <table>
                <thead>
                    <tr>
                        <td>@Resources.Resource.OrderN</td>
                    </tr>
                </thead>
                <tbody>

                    @foreach (HamburSisMVC.Models.OrdenModel item in ViewBag.Tomadas)
                    {
                        <tr>
                            <td>@item.idOrden</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

        <p>
            <input type="submit" value=@Resource.Resource.New /><!--  llama al post, recupera solo el modelo-->
        </p>
    </fieldset>
}
