﻿@model  HamburSisMVC.Models.MesaModel
@{
    ViewBag.Title = "EditMesa";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Resource.Resource.UTable</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.nroMesa)<!--  crea un label con el nombre de la prop-->

        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nroMesa)<!--  crea el campo relacionado al modelo asi este ya esta vinculado -->
            @Html.ValidationMessageFor(model => model.nroMesa)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ubicacion)

        </div>
        <div class="editor-field">

            @Html.EditorFor(model => model.ubicacion)
            @Html.ValidationMessageFor(model => model.ubicacion)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.cantidadMaxima)

        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cantidadMaxima)
            @Html.ValidationMessageFor(model => model.cantidadMaxima)
        </div>
        <p>
            <input type="submit" value=@Resource.Resource.Up />
        </p>
    </fieldset>
}

