﻿@model IEnumerable<HamburSisMVC.Models.MesaModel> 
@{
    ViewBag.Title = "ListMesa";
}

<h2>@Resource.Resource.ListM</h2>
<table class="table table-bordered">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.nroMesa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ubicacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidadMaxima)
        </th>
        <th>
            @Resource.Resource.Delete
        </th>
        <th>
            @Resource.Resource.Update
        </th>

    </tr>

    @foreach (var item in Model)//for del modelo que le llega
    {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.nroMesa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ubicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidadMaxima)
            </td>
            <td>
                @Html.ActionLink(Resource.Resource.Delete, "../Mesa/Delete", new { id = item.idMesa })<!-- llama a otro metodo del controlador el new es el parametro, se pone nombreparameto=dato; el nombre debe ser el mismo que de el parametro del metodo -->
            </td>
            <td>
                @Html.ActionLink(Resource.Resource.Update, "../Mesa/EditMesa", new { id = item.idMesa })
            </td>

        </tr>
    }
</table>
<p>
    @Html.ActionLink(Resource.Resource.New, "../Mesa/NewMesa")
</p>

