﻿@model  HamburSisMVC.Models.ProductoModel
@{
	ViewBag.Title = "EditProduct";
}


<h2>@Resource.Resource.EditProduct</h2>

@using (Html.BeginForm())
{
	@Html.ValidationSummary(true)

<fieldset>
	<legend>@Resource.Resource.EditProduct</legend>
	<div class="editor-label">
		@Html.LabelFor(model => model.nombreProducto)<!--  crea un label con el nombre de la prop-->
	</div>
	<div class="editor-field">
		@Html.EditorFor(model => model.nombreProducto)
           @Html.ValidationMessageFor(model => model.nombreProducto)<!--  crea el campo relacionado al modelo asi este ya esta vinculado -->
	</div>
	<div class="editor-label">
		@Html.LabelFor(model => model.precio)
	</div>
	<div class="editor-field">
		@Html.EditorFor(model => model.precio)
        @Html.ValidationMessageFor(model => model.precio)
	</div>
	<div class="editor-label">
		@Html.LabelFor(model => model.tipo)
	</div>
	<div class="editor-field">
		@Html.EditorFor(model => model.tipo)
	</div>
	<div class="editor-label">
		@Html.LabelFor(model => model.descripcion)
	</div>
	<div class="editor-field">
		@Html.EditorFor(model => model.descripcion)
        @Html.ValidationMessageFor(model => model.descripcion)
	</div>
	<p>
		<input type="submit" value=@Resource.Resource.Up />
	</p>
</fieldset>
}
