﻿@model IEnumerable<HamburSisMVC.Models.ProductoModel>
@{
	ViewBag.Title = "ListaProductos";
}

<h2>@Resource.Resource.ListM</h2>
<table class="table table-bordered">
	<tr>
	
		<th>
			@Html.DisplayNameFor(model => model.nombreProducto)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.precio)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.tipo)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.descripcion)
		</th>
		<th>
			@Resource.Resource.Delete
		</th>
		<th>
			@Resource.Resource.Update
		</th>
	</tr>
	@foreach (var item in Model)//for del modelo que le llega
	{
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.nombreProducto)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.precio)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.tipo)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.descripcion)
		</td>
		<td>
			@Html.ActionLink(Resource.Resource.Delete, "../Product/Delete", new { id = item.idProducto })<!-- llama a otro metodo del controlador el new es el parametro, se pone nombreparameto=dato; el nombre debe ser el mismo que de el parametro del metodo -->
		</td>
		<td>
			@Html.ActionLink(Resource.Resource.Update, "../Product/EditProduct", new { id = item.idProducto })
		</td>
	</tr>
	}
</table>
<p>
	@Html.ActionLink(Resource.Resource.New, "../Product/NewProduct")
</p>
