﻿@model  HamburSisMVC.Models.ReservaModel
@{
    ViewBag.Title = "EditReserva";
}

<h2>@Resource.Resource.EdRe</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Resource.Resource.NewTa</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.fechaReserva)<!--  crea un label con el nombre de la prop-->
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fechaReserva)<!--  crea el campo relacionado al modelo asi este ya esta vinculado -->
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.fechaExpiracion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fechaExpiracion)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.idMesa)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.idMesa, (IEnumerable<SelectListItem>)ViewBag.ListaMesa, "--Elejir Mesa--")
        </div>
        <p>
            <input type="submit" value=@Resource.Resource.Up /><!--  llama al post, recupera solo el modelo-->
        </p>
    </fieldset>
}

