﻿@model IEnumerable<HamburSisMVC.Models.ReservaModel>
@{
    ViewBag.Title = "ListReservas";
}

<h2>@Resource.Resource.ListRe</h2>
<table class="table table-bordered">
    <tr>
 
        <th>
            @Html.DisplayNameFor(model => model.propietario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaReserva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaExpiracion)
        </th>     
        <th>
            @Resource.Resource.Delete
        </th>
        <th>
            @Resource.Resource.Update
        </th>
    </tr>
    @foreach (var item in Model)//for del modelo que le llega
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.propietario)<!--   recuera el dato del modelo -->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaExpiracion)
            </td>
            <td>
                @Html.ActionLink(Resource.Resource.Delete, "../Reserva/Delete", new { id = item.idReserva })<!-- llama a otro metodo del controlador el new es el parametro, se pone nombreparameto=dato; el nombre debe ser el mismo que de el parametro del metodo -->
            </td>
            <td>
                @Html.ActionLink(Resource.Resource.Update, "../Reserva/EditReserva", new { id = item.idReserva })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink(Resource.Resource.New, "../Reserva/NewReserva")
</p>

