﻿<!DOCTYPE html>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Mi aplicación ASP.NET</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
  
</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("Nombre de aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("Cuentas", "ListUser", "Usuario")</li>
					<li>@Html.ActionLink(@Resources.Resource.Produ, "ListaProductos", "Product")</li>
					<li>@Html.ActionLink(@Resources.Resource.Mesa, "ListMesa", "Mesa")</li>
					<li>@Html.ActionLink(@Resources.Resource.Res, "ListReservas", "Reserva")</li>
                    <li>@Html.ActionLink(@Resources.Resource.Orde, "ListaOrdenes", "Orden")</li>
				</ul>
				@Html.Partial("_LoginPartial")
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
		</footer>
	</div>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
