﻿* {
	padding: 0;
	margin: 0;
}

	*,
	*:before,
	*:after {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

body {
	background: #ECE8DC;
	font-family: "Ubuntu", helvetica;
}

a {
	text-decoration: none;
	color: #C39679;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}

	a:hover {
		color: #bb8867;
	}


.contenedor-formulario {
	background: rgba(115, 103, 88, 0.9);
	padding: 20px;
	max-width: 100%;
	margin: 15px auto;
	border-radius: 4px;
	-webkit-box-shadow: 0 4px 10px 4px rgba(115, 103, 88, 0.3);
	box-shadow: 0 4px 10px 4px rgba(115, 103, 88, 0.3);
}

.contenedor-tabs {
	list-style: none;
	padding: 0;
	margin: 0 0 40px 0;
}

	.contenedor-tabs:after {
		content: "";
		display: table;
		clear: both;
	}

	.contenedor-tabs li a {
		display: block;
		text-decoration: none;
		padding: 15px;
		background: rgba(255, 255, 255, 0.25);
		color: white;
		font-size: 20px;
		float: left;
		width: 50%;
		text-align: center;
		cursor: pointer;
		-webkit-transition: 0.5s ease;
		-o-transition: 0.5s ease;
		transition: 0.5s ease;
	}

		.contenedor-tabs li a:hover {
			background: #bb8867;
			color: #ECE8DC;
		}

	.contenedor-tabs .active a {
		background: #C39679;
		color: #ECE8DC;
	}

.contenido-tab > div:last-child {
}

h1 {
	text-align: center;
	color: #ECE8DC;
	font-weight: 300;
	margin: 0 0 40px;
}

label {
	position: absolute;
	-webkit-transform: translateY(6px);
	-ms-transform: translateY(6px);
	transform: translateY(6px);
	left: 13px;
	max-height: 100px;
	color: rgba(236, 232, 220, 0.5);
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
	-webkit-backface-visibility: hidden;
	pointer-events: none;
	font-size: 22px;
}

	label .req {
		margin: 2px;
		color: #C39679;
	}

	label.active {
		-webkit-transform: translateY(50px);
		-ms-transform: translateY(50px);
		transform: translateY(50px);
		left: 2px;
		font-size: 14px;
	}

		label.active .req {
			opacity: 0;
		}

	label.highlight {
		color: #ECE8DC;
	}

input {
	font-size: 22px;
	display: block;
	width: 100%;
	height: 100%;
	padding: 5px 10px;
	background: none;
	background-image: none;
	border: 1px solid white;
	max-height: 100px;
	border-top: none;
	border-left: none;
	border-right: none;
	color: #ECE8DC;
	border-radius: 0;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	border-radius: 5px;
}

	input:focus {
		outline: none;
		border-color: #C39679;
	}

.contenedor-input {
	position: relative;
	margin-bottom: 40px;
}

.fila-arriba:after {
	content: "";
	display: table;
	clear: both;
}

.fila-arriba div {
	float: left;
	width: 48%;
	margin-right: 4%;
}

	.fila-arriba div:last-child {
		margin: 0;
	}

.fila-arriba-button-center:after {
	content: "";
	display: table;
	clear: both;
}

.fila-arriba-button-center input {
	float: left;
	width: 48%;
	margin-right: 4%;
}

	.fila-arriba-button-center input:last-child {
		margin: 0;
	}

.fila-arriba-realbutton-center:after {
	content: "";
	display: table;
	clear: both;
}

.fila-arriba-realbutton-center button {
	float: left;
	width: 30%;
	margin-right: 22%;
	margin-left: 9%;
}

	.fila-arriba-realbutton-center button:last-child {
		margin: 0;
	}

.fila-arriba-button:after {
	content: "";
	display: table;
	clear: both;
}

.fila-arriba-button input {
	float: left;
	width: 48%;
	margin-right: 4%;
}

	.fila-arriba-button input:last-child {
		margin: 0;
	}

.button {
	border: 0;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 2rem;
	background: #C39679;
	color: #ECE8DC;
}

	.button:hover, .button:focus {
		background: #bb8867;
	}

.button-C-block {
	border: 0;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	background: #C39679;
	color: #ECE8DC;
	display: block;
	padding: 15px 0;
	width: 25%;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-appearance: none;
}

	.button-C-block:hover, .button-C-block:focus {
		background: #bb8867;
	}

.button-block {
	display: block;
	padding: 15px 0;
	width: 100%;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-appearance: none;
}

.button-not-block {
	padding: 15px;
	width: 50%;
}

.forgot {
	margin-top: -20px;
	text-align: right;
	margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
	.fila-arriba div {
		width: 100%;
	}

		.fila-arriba div:last-child {
			margin-bottom: 40px;
		}
}

@media screen and (max-width: 500px) {
	.fila-arriba-button-center div {
		width: 100%;
	}

		.fila-arriba-button-center div:last-child {
			margin-bottom: 40px;
		}
}

@media screen and (max-width: 500px) {
	.fila-arriba-button input {
		width: 100%;
	}

		.fila-arriba-button input:last-child {
			margin-bottom: 40px;
		}
}

@media screen and (max-width: 400px) {
	.contenedor-tabs li a {
		width: 100%;
	}
}
