﻿* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Ubuntu", helvetica;
	color:#ECE8DC;
}

body {
	background-color: #ECE8DC;
}

main {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

header {
	width: 100%;
	height: 60px;
	background: #736758;
}

	header span {
		font-size: 30px;
		padding: 10px;
		color: #ECE8DC;
		-webkit-transition: all 300ms;
		-o-transition: all 300ms;
		transition: all 300ms;
		cursor: pointer;
		position: relative;
		top: 16px;
		left: 10px;
	}

		header span:hover {
			background: #C39679;
			border-radius: 10px;
		}

.content-menu {
	width: 100px;
	background: #C39679;
	-webkit-transition: all 300ms;
	-o-transition: all 300ms;
	transition: all 300ms;
}

.content-menu2 {
	margin-left: -100px;
}

.content-menu li {
	list-style: none;
	text-align: center;
	padding: 13px;
	color: white;
	-webkit-transition: all 300ms;
	-o-transition: all 300ms;
	transition: all 300ms;
	cursor: pointer;
}

	.content-menu li:hover {
		-webkit-transform: translateY(10px);
		-ms-transform: translateY(10px);
		transform: translateY(10px);
		background: #bb8867;
	}

	.content-menu li span {
		font-size: 40px;
	}

	.content-menu li h4 {
		font-weight: 100;
		-webkit-transform: translateY(18px) translateX(-110px);
		-ms-transform: translateY(18px) translateX(-110px);
		transform: translateY(18px) translateX(-110px);
		-webkit-transition: all 300ms;
		-o-transition: all 300ms;
		transition: all 300ms;
	}
	.content-menu li a h4 {
		font-weight: 100;
		-webkit-transform: translateY(18px) translateX(-110px);
		-ms-transform: translateY(18px) translateX(-110px);
		transform: translateY(18px) translateX(-110px);
		-webkit-transition: all 300ms;
		-o-transition: all 300ms;
		transition: all 300ms;
	}

.button-F-block {
	border: 0;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	background: #C39679;
	color: #ECE8DC;
	margin-top: 45px;
	display: block;
	padding: 10px 0;
	width: 100%;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-appearance: none;
}

	.button-F-block:hover, .button-F-block:focus {
		background: #bb8867;
	}

.button-C-block {
	border: 0;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	background: #C39679;
	color: #ECE8DC;
	display: block;
	padding: 10px 0;
	width: 100%;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-appearance: none;
}

	.button-C-block:hover, .button-C-block:focus {
		background: #bb8867;
	}

.image {
	position: relative;
	padding-left: 45%;
	color: #ECE8DC;
}

	.image span {
		font-size: 90px;
	}

.icon1 {
	color: #ECE8DC;
}

.content-menu:hover .text1 {
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
	-webkit-transition: all 100ms;
	-o-transition: all 100ms;
	transition: all 100ms;
	color: white;

}

.content-menu:hover .text2 {
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
	-webkit-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;
	color: white;
}

.content-menu:hover .text3 {
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
	-webkit-transition: all 300ms;
	-o-transition: all 300ms;
	transition: all 300ms;
	color: white;
}

.content-menu:hover .text4 {
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
	-webkit-transition: all 400ms;
	-o-transition: all 400ms;
	transition: all 400ms;
	color:white;
}

.content-menu:hover .text5 {
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
	-webkit-transition: all 500ms;
	-o-transition: all 500ms;
	transition: all 500ms;
	color: white;
}

#googleMap {
	height: 610px;
	width: 100%;
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.column1 {
	-webkit-box-flex: 20%;
	-ms-flex: 20%;
	flex: 20%;
}

.column2 {
	-webkit-box-flex: 100%;
	-ms-flex: 100%;
	flex: 100%;
}

	.column2 p {
		text-align: center;
		font-family: "Raleway", arial;
		color: #ECE8DC;
		font-size: 30px;
		margin-top: 1%;
		margin-right: 20%;
	}

.coordinates {
	width: 35%;
	background: #cba48b;
	border-radius: 4px;
}

.contenido-tab > div:last-child {
	display: none;
}

label.active {
	-webkit-transform: translateY(50px);
	-ms-transform: translateY(50px);
	transform: translateY(50px);
	left: 2px;
	font-size: 14px;
}

	label.active .req {
		opacity: 0;
	}

label {
	position: absolute;
	-webkit-transform: translateY(6px);
	-ms-transform: translateY(6px);
	transform: translateY(6px);
	left: 13px;
	color: rgba(236, 232, 220, 0.5);
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
	-webkit-backface-visibility: hidden;
	pointer-events: none;
	font-size: 17px;
}

	label .req {
		margin: 2px;
		color: #C39679;
	}

	label.highlight {
		color: #ECE8DC;
	}

.contenedor-formulario {
	background: rgba(115, 103, 88, 0.9);
	padding: 20px;
	max-width: 100%;
	margin: 5px auto;
	border-radius: 4px;
	-webkit-box-shadow: 0 4px 4px 4px rgba(115, 103, 88, 0.3);
	box-shadow: 0 4px 4px 4px rgba(115, 103, 88, 0.3);
}

h1 {
	text-align: center;
	color: #ECE8DC;
	font-weight: 300;
	font-size: 20px;
}

.profiles {
	text-align: center;
	color: #ECE8DC;
	font-weight: 300;
	font-size: 45px;
}

input {
	font-size: 18px;
	display: block;
	width: 100%;
	height: 100%;
	padding: 5px 10px;
	background: none;
	background-image: none;
	border: 1px solid white;
	border-top: none;
	border-left: none;
	border-right: none;
	color: #ECE8DC;
	border-radius: 0;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	border-radius: 5px;
}

	input:focus {
		outline: none;
		border-color: #C39679;
	}

.contenedor-input {
	position: relative;
	margin-bottom: 25px;
}
